@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
 * {
    font-family: 'PT Serif', serif;
 }
 
.introduction img {
    width: 200px;
    height: 200px;
}

section {
    margin: 7rem 0;
}

.mw-650 {
    max-width: 650px;
}

.project-info img {
    width: 300px;
    height: 300px;
}